/*          Шрифты           */

$font-family: "Myriad Pro", sans-serif;
$font-weight-title: 700;
$color-text: #0057a6;
$color-text-hover: rgba(0, 86, 166, 0.9);
$color-text-opacity: rgba(0, 86, 166, 0.86);
$color-text-light: white;
$color-footer-text: white;

/*****************************/

/*        Background         */

$background-color-dark: #0057a6;
$background-color-regular: #d5eeff;
$background-color-light: #f6fbff;


/*****************************/

/*          Vacancy          */

$background-color-vacancy-item: white;
$color-vacancy-item: #838281;

/*****************************/