@import "_var.scss";

/* Общие стили */

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family;
  font-weight: 400;
  color: $color-text;
  background-color: $background-color-light;
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.text {
  font-size: 18px;
  font-weight: 400;
}

.triangle {
  background-color: $background-color-dark;
  text-align: left;
}
.triangle:before,
.triangle:after {
  content: "";
  position: absolute;
  background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
  width: 30px;
  height: 30px;
  border-top-right-radius: 30%;
}

.triangle {
  transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}
.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
    translate(0, -50%);
}
.triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 900px) {
  .container {
    width: 100%;
    padding: 0px 32px;
  }
  .text {
    font-size: 16px;
  }
}
@media screen and (max-width: 700px) {
  .container {
    width: 100%;
    padding: 0px 32px;
  }
  .text {
    font-size: 14px;
  }
}
/***************/

/*  Заголовки  */

h1.title {
  font-size: 60px;
  font-weight: $font-weight-title;
  color: $color-text;
}

h2.title {
  font-size: 36px;
  font-weight: $font-weight-title;
  color: $color-text;
}

h3.title {
  font-size: 24px;
  font-weight: $font-weight-title;
}

h4.title {
  font-size: 22px;
}

h5.title {
  font-size: 18px;
  font-weight: $font-weight-title;
}

@media screen and (max-width: 900px) {
  h1.title {
    font-size: 42px;
  }
  h3.title {
    font-size: 20px;
  }
  h4.title {
    font-size: 18px;
  }
}
@media screen and (max-width: 700px) {
  h2.title {
    font-size: 24px;
  }
  h3.title {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  h2.title {
    font-size: 20px;
  }
  h4.title {
    font-size: 16px;
  }
}

/***************/

/* Блоки */

.border-radius {
  border-radius: 20px;
  width: 100%;
  padding: 30px 40px;
}

.welcome-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  height: 100vh;
}
.welcome-text {
  position: relative;
  min-height: 488px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    color: $color-welcome-text;
  }
}
.welcome-text::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -100px;
  width: 100%;
  height: 100%;
  background: url(../assest/icons/welcome.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .welcome-block {
    img {
      width: 30%;
    }
  }
}
@media screen and (max-width: 900px) {
  .welcome-block {
    height: auto;
    padding: 100px 42px;
  }
  .welcome-text {
    min-height: 240px;
  }
  .welcome-text::after {
    left: -40px;
  }
}
@media screen and (max-width: 800px) {
  .welcome-block {
    img {
      display: none;
    }
  }
}
@media screen and (max-width: 700px) {
  .border-radius {
    padding: 14px 21px;
  }
}

/***************/

/* Формы */

.form-input,
.form-textarea,
.form-button {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  background-color: $background-color-white;
  color: black;
}
.form-input:focus,
.form-textarea:focus,
.form-button:focus {
  box-shadow: 0px 0px 4px $background-color-regular;
  border: 1px inner solid $background-color-regular;
}
.form-textarea {
  resize: none;
  height: 136px;
  border: none;
  outline: none;
}
/*********/
