.map {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 70%);
  z-index: 10;
  &__slider {
    padding: 100px 100px;
    position: relative;
    z-index: 20;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: $background-color-dark;
      border-radius: 40px;
      transform: skew(10deg, 2deg);
    }
    &-title {
      position: relative;
      color: $color-text-light !important;
      .triangle {
        background-color: $background-color-light;
      }
    }
    &-title &-triangle {
      position: absolute;
      top: -40px;
      left: -60px;
      transition: all 1s ease 0s;
    }
    &-container {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 30px;
    }
    &-item {
      flex: 1;
      min-width: 0;
    }
    &-svg {
      width: 100%;
      height: auto;
    }
    &-point {
      cursor: pointer;
      transition: all 0.5s ease 0s;
    }
    &-point.map-active {
      animation: fadeIn 1s ease;
      fill: rgb(207, 66, 66);
    }
  }

  &__slide {
    color: $color-text-light;
    display: none;
    &-title {
      margin-top: 21px;
      color: $color-text-light;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    &-icon {
      background: url(./../../assest/icons/location.svg);
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 7px;
      width: 28px;
      height: 28px;
    }
    p {
      margin-top: 7px;
    }
  }
  &__slide.map-active {
    animation: fadeIn 1s ease;
    display: block;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1520px) {
  .map {
    .container {
      width: 1000px;
    }
    &__slider {
      &::after {
        transform: skew(5deg, 2deg);
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .map {
      .container {
        width: 816px;
      }
    }
  }
  @media screen and (max-width: 900px) {
    .map {
      bottom: 52px;
      .container {
        width: 616px;
      }
    }
  }
  @media screen and (max-width: 700px) {
    .map {
      bottom: -10px;
      .container {
        width: 516px;
      }
      &__slider {
        padding: 42px;
        &::after {
          transform: skew(0deg, 0deg);
        }
        &-container {
          margin-top: 21px;
          display: flex;
          flex-direction: column;
          gap: 30px;
        }
        &-title &-triangle {
          top: 0;
          left: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .map {
    bottom: -10px;
    .container {
      width: 383px;
    }
    &__slider {
      &-title &-triangle {
        display: none;
      }
    }
  }
}
