@charset "UTF-8";
/*          Шрифты           */
/*****************************/
/*        Background         */
/*****************************/
/*          Vacancy          */
/*****************************/
.advantages {
  padding: 105px 0px;
}
.advantages__container {
  text-align: center;
  border-radius: 40px;
  background-color: #0057a6;
  color: white;
  padding: 42px;
  height: 600px;
}
.advantages__title {
  display: inline-block;
  position: relative;
  color: white !important;
}
.advantages__triangle {
  position: absolute;
  top: 50%;
  transform: translate(-150%, -50%) rotate(90deg);
}
.advantages__triangle .triangle {
  background-color: white;
}
.advantages__flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
  margin-top: 31px;
}
.advantages__image {
  border-radius: 20px;
  width: 40%;
  padding: 105px;
  background-color: white;
}
.advantages__list {
  text-align: left;
}
.advantages__list-item {
  font-size: 24px;
  padding: 21px 0px;
  border-bottom: 1px solid white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.advantages__list-item.advantages-active .advantages__list-content {
  max-height: 80px;
  padding-bottom: 15px;
}
.advantages__list-item.advantages-active .advantages__list-icon {
  transform: rotate(-90deg);
}
.advantages__list-item:hover {
  opacity: 0.9;
}
.advantages__list-header {
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.advantages__list-icon {
  position: relative;
  width: 36px;
  height: 36px;
  background: url(../../../assest/icons/arrow-light.svg);
  background-repeat: no-repeat;
  background-size: contain;
  fill: white;
  transform: rotate(90deg);
  transition: all 0.5s ease 0s;
}
.advantages__list-content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  padding: 0;
}

.vacancy {
  background-color: #d5eeff;
  text-align: center;
  width: 100%;
}
.vacancy .border-radius {
  padding: 16px 16px 42px 16px;
}
.vacancy__container {
  width: 100%;
  padding: 85px 105px 132px 105px;
  margin: 0 auto;
}
.vacancy__title {
  position: relative;
  display: inline-block;
}
.vacancy__triangle {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(200%, -50%) rotate(90deg);
}
.vacancy__list {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.vacancy__item {
  cursor: pointer;
  text-align: left;
  position: relative;
  min-width: 420px;
  max-width: 420px;
  flex: 1;
  background-color: white;
  transition: all 0.35s ease 0s;
}
.vacancy__item-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
}
.vacancy__item-image {
  height: 100%;
}
.vacancy__item-subtitle {
  color: #838281;
}
.vacancy__item:hover {
  transition: all 0.35s ease 0s;
  transform: scale(1.1);
}
.vacancy__details {
  cursor: pointer;
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vacancy__details p {
  font-size: 16px;
}
.vacancy__details-arrow {
  margin-top: 2px;
  width: 16px;
  height: 16px;
  background: url(../../assest/icons/arrow-right.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.vacancy__details:hover {
  text-decoration: underline;
}
.vacancy__task-title {
  font-size: 16px;
  color: #838281;
}
.vacancy__task-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.vacancy__task-marker {
  min-width: 12px;
  min-height: 12px;
  margin-top: 3px;
  background: url(../../assest/icons/marker-light.svg);
  background-size: contain;
  background-repeat: none;
}
.vacancy__task-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
}
.vacancy__task-item p {
  color: #838281;
}

.steps {
  padding: 105px 0px;
  background-color: #0057a6;
}
.steps__line {
  display: none;
}
.steps__container {
  position: relative;
}
.steps__title {
  position: relative;
  color: white !important;
}
.steps__triangle {
  position: absolute;
  top: 20%;
  transform: translate(-200%, -50%) rotate(75deg);
}
.steps__triangle .triangle {
  background-color: white;
}
.steps__list {
  margin-top: 42px;
}
.steps__list svg {
  width: 100%;
  height: 100%;
}
.steps__list svg#stepsLineTablet {
  display: none;
}
.steps__list li {
  position: absolute;
}
.steps__list li#liNumberOne {
  left: 7%;
}
.steps__list li#liNumberTwo {
  top: 20%;
  left: 85%;
}
.steps__list li#liNumberThree {
  top: 45%;
  left: 30%;
  transform: translateY(40%);
}
.steps__list li#liNumberFour {
  top: 85%;
  left: 50%;
  transform: translate(-50%, 20%);
}
.steps__list li#liCardOne {
  left: 50%;
  transform: translateX(-50%);
}
.steps__list li#liCardTwo {
  top: 40%;
  right: 5%;
}
.steps__list li#liCardThree {
  top: 65%;
  left: 0;
}
.steps__list li#liCardFour {
  bottom: 0;
  right: 0;
}
.steps__number {
  display: inline-block;
  padding: 16px;
  border-radius: 50%;
  background-color: #d5eeff;
  color: #9bb0cf;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.steps__card {
  position: relative;
  width: 400px;
  display: inline-block;
  background-color: white;
  padding: 16px;
  border-radius: 20px;
  height: 200px;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.steps__card-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 208px;
  transform: translateY(50%) rotate(-15deg);
}

.feedback {
  padding: 105px 0px;
  text-align: center;
}
.feedback__container {
  display: inline-block;
  background-color: #0057a6;
  padding: 60px 120px;
  border-radius: 40px;
}
.feedback__title {
  display: inline-block;
  position: relative;
  color: white !important;
}
.feedback__triangle {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(200%, -50%) rotate(90deg);
}
.feedback__triangle .triangle {
  background-color: white;
}
.feedback__flex {
  margin-top: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.feedback__form {
  width: 450px;
}
.feedback__form-item {
  margin-top: 16px;
}

@media screen and (max-width: 1520px) {
  .vacancy__container::after {
    width: 90%;
  }
}
@media screen and (max-width: 1200px) {
  .steps li#liCardOne {
    top: 11%;
  }
  .steps li#liCardTwo {
    top: 45%;
  }
  .steps__card {
    width: 30%;
    height: auto;
  }
  .steps__card-subtitle {
    margin-top: 14px;
  }
  .steps__card-image {
    display: none;
  }
  .vacancy__item:nth-child(3) {
    display: none;
  }
  .feedback {
    padding-inline: 42px;
  }
  .feedback__container {
    padding: 42px;
  }
  .feedback__image {
    width: 40%;
  }
}
@media screen and (max-width: 1000px) {
  .steps li#liNumberTwo {
    top: 22%;
  }
  .steps li#liNumberFour {
    top: 84%;
  }
}
@media screen and (max-width: 900px) {
  .advantages__container {
    padding: 42px;
  }
  .advantages__image {
    display: none;
  }
  .steps li#liCardThree {
    left: 2%;
  }
  .steps li#liCardFour {
    right: 2%;
  }
}
@media screen and (max-width: 768px) {
  .steps__list svg#stepsLineTablet {
    display: block;
  }
  .steps__list svg#stepsLine {
    display: none;
  }
  .steps__list li#liNumberOne {
    top: 8%;
  }
  .steps__card {
    padding: 12px;
  }
  .steps__card-title {
    font-size: 20px;
  }
  .steps__card-subtitle {
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  .vacancy__item:nth-child(2) {
    display: none;
  }
  .feedback {
    padding-inline: 14px;
  }
  .feedback__triangle {
    transform: translate(150%, -50%) scale(0.6) rotate(90deg);
  }
  .feedback__container {
    border-radius: 10px;
    padding: 36px 14px;
    width: 100%;
  }
  .feedback__image {
    display: none;
  }
  .feedback__form {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .steps__list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 21px;
  }
  .steps__list svg {
    display: none !important;
  }
  .steps__list li {
    position: static;
    transform: translate(0, 0) !important;
  }
  .steps__list li#liCardOne {
    transform: rotate(2deg) !important;
  }
  .steps__list li#liCardTwo {
    transform: rotate(-3deg) !important;
  }
  .steps__list li#liCardThree {
    transform: rotate(4deg) !important;
  }
  .steps__list li#liCardFour {
    transform: rotate(-2deg) !important;
  }
  .steps__card {
    width: 100%;
  }
  .steps__line {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 100%;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=index.css.map */