@import "../../../scss/var";

.specialization {
  &__slider {
    margin-bottom: 40px;
    &-buttons {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 60px;
      min-height: 260px;
      overflow-x: hidden;
      cursor: grab;
      -ms-overflow-style: none;
      scrollbar-width: none;
      ::-webkit-scrollbar {
        display: none;
      }
      :active {
        cursor: grabbing;
      }
    }
  }
  &__btn {
    position: relative;
    cursor: pointer;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    border-radius: 20px;
    background-color: $background-color-grey;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    min-width: 520px;
    transition: all 0.5s ease 0s;
    &-title {
      display: inline-block;
      padding: 6px 10px ;
      font-weight: 400 !important;
      background-color: $background-color-dark;
      color: $color-text-light;
      border-radius: 20px;
      margin-bottom: 20px;
      text-decoration: underline;
    }
  }
  &__btn:hover {
    transform: scale(1.05);
    background-color: $background-color-regular;
  }
  &__btn.specialization-active {
    transform: scale(1.1);
    background-color: $background-color-regular;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
  }
  &__triangle {
    transform: rotate(90deg);
  }
  &__stats {
    position: absolute;
    top: -10px;
    left: -20px;
    transform: rotate(-5deg);
    background-color: #ffd869;
    padding: 5px 20px;
    border-radius: 20px;
    p {
      font-size: 16px;
    }
  }
}
